<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhu.dao.GorderMapper" >
  <resultMap id="BaseResultMap" type="com.dhu.domain.Gorder" >
    <id column="orderId" property="orderid" jdbcType="CHAR" />
    <result column="customerId" property="customerid" jdbcType="CHAR" />
    <result column="orderTime" property="ordertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, customerId, orderTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhu.domain.GorderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gorder
    where orderId = #{orderid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gorder
    where orderId = #{orderid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhu.domain.GorderExample" >
    delete from gorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhu.domain.Gorder" >
    insert into gorder (orderId, customerId, orderTime
      )
    values (#{orderid,jdbcType=CHAR}, #{customerid,jdbcType=CHAR}, #{ordertime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dhu.domain.Gorder" >
    insert into gorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="ordertime != null" >
        orderTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=CHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhu.domain.GorderExample" resultType="java.lang.Integer" >
    select count(*) from gorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gorder
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=CHAR},
      </if>
      <if test="record.customerid != null" >
        customerId = #{record.customerid,jdbcType=CHAR},
      </if>
      <if test="record.ordertime != null" >
        orderTime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gorder
    set orderId = #{record.orderid,jdbcType=CHAR},
      customerId = #{record.customerid,jdbcType=CHAR},
      orderTime = #{record.ordertime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhu.domain.Gorder" >
    update gorder
    <set >
      <if test="customerid != null" >
        customerId = #{customerid,jdbcType=CHAR},
      </if>
      <if test="ordertime != null" >
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhu.domain.Gorder" >
    update gorder
    set customerId = #{customerid,jdbcType=CHAR},
      orderTime = #{ordertime,jdbcType=TIMESTAMP}
    where orderId = #{orderid,jdbcType=CHAR}
  </update>
</mapper>